mygame/shot/__pycache__/bullet.cpython-37.pyc
mygame/shot/__pycache__/bullet.cpython-37.pyc
mygame/shot/__pycache__/bullet.cpython-37.pyc
mygame/shot/__pycache__/shot_function.cpython-37.pyc
mygame/shot/__pycache__/ship.cpython-37.pyc
mygame/shot/__pycache__/myrect.cpython-37.pyc
mygame/shot/__pycache__/gamestat.cpython-37.pyc
mygame/shot/__pycache__/button.cpython-37.pyc
IMG_0981.jpeg
IMG_0981.png
.vscode/__pycache__/sruvey.cpython-37.pyc
__pycache__/bullet.cpython-37.pyc
__pycache__/button.cpython-37.pyc
__pycache__/game_functions.cpython-37.pyc
__pycache__/game_stats.cpython-37.pyc
__pycache__/settings.cpython-37.pyc
__pycache__/ship.cpython-37.pyc
__pycache__/sruvey.cpython-37.pyc
__pycache__/test_survey.cpython-37.pyc
mygame/__pycache__/__init__.cpython-37.pyc
mygame/__pycache__/ball.cpython-37.pyc
mygame/__pycache__/hahas.cpython-37.pyc
mygame/__pycache__/my_funs.cpython-37.pyc
mygame/__pycache__/mysetting.cpython-37.pyc
mygame/__pycache__/new_funs.cpython-37.pyc
mygame/__pycache__/rain_funs.cpython-37.pyc
mygame/__pycache__/raindrop.cpython-37.pyc
mygame/__pycache__/ship_bullet.cpython-37.pyc
mygame/__pycache__/shiphh.cpython-37.pyc
mygame/__pycache__/slab_ball_function.cpython-37.pyc
mygame/__pycache__/slab.cpython-37.pyc
mygame/__pycache__/slabballstats.cpython-37.pyc
mygame/__pycache__/star_funs.cpython-37.pyc
mygame/__pycache__/star.cpython-37.pyc
test/__pycache__/__init__.cpython-37.pyc
test/__pycache__/sruvey.cpython-37.pyc
test/__pycache__/test_survey.cpython-37.pyc
mi.pub
mi
mygame/shot/__pycache__/__init__.cpython-37.pyc
samples/jo.html.ref
samples/jo.pdf
samples/jo.tex
samples/jo.txt.ref
samples/jo.xml.ref
samples/Makefile
samples/README
samples/simple1.html.ref
samples/simple1.pdf
samples/simple1.txt.ref
samples/simple1.xml.ref
samples/simple2.html.ref
samples/simple2.pdf
samples/simple2.txt.ref
samples/simple2.xml.ref
samples/simple3.html.ref
samples/simple3.pdf
samples/simple3.txt.ref
samples/simple3.xml.ref
samples/layout/big_letter_and_title.pdf
samples/layout/big_letter_spanning_lines.pdf
samples/layout/centered.pdf
samples/layout/paragraphs_indent.pdf
samples/layout/slightly_higher.pdf
samples/layout/space_chars_only.pdf
samples/nonfree/dmca.html.ref
samples/nonfree/dmca.pdf
samples/nonfree/dmca.txt.ref
samples/nonfree/dmca.xml.ref
samples/nonfree/f1040nr.html.ref
samples/nonfree/f1040nr.pdf
samples/nonfree/f1040nr.txt.ref
samples/nonfree/f1040nr.xml.ref
samples/nonfree/i1040nr.html.ref
samples/nonfree/i1040nr.pdf
samples/nonfree/i1040nr.txt.ref
samples/nonfree/i1040nr.xml.ref
samples/nonfree/kampo.html.ref
samples/nonfree/kampo.pdf
samples/nonfree/kampo.txt.ref
samples/nonfree/kampo.xml.ref
samples/nonfree/naacl06-shinyama.html.ref
samples/nonfree/naacl06-shinyama.pdf
samples/nonfree/naacl06-shinyama.txt.ref
samples/nonfree/naacl06-shinyama.xml.ref
samples/nonfree/nlp2004slides.html.ref
samples/nonfree/nlp2004slides.pdf
samples/nonfree/nlp2004slides.txt.ref
samples/nonfree/nlp2004slides.xml.ref
5.jpeg
mygame/shot/__pycache__/bullet.cpython-37.pyc
__pycache__/alien.cpython-37.pyc
__pycache__/bullet.cpython-37.pyc
__pycache__/game_functions.cpython-37.pyc
__pycache__/game_stats.cpython-37.pyc
__pycache__/settings.cpython-37.pyc
__pycache__/ship.cpython-37.pyc
__pycache__/sruvey.cpython-37.pyc
__pycache__/test_survey.cpython-37.pyc
__pycache__/button.cpython-37.pyc
y
y.pub
fub.pdf
a.txt

